:root {
    --space: 2rem;
    --site-width: calc(var(--space) * 30);
    --color-bg: whitesmoke;
}

html {
    font-size: 16px;
    line-height: 1.6;
    font-family: serif;
}
@media (min-width: 60rem) {
    html {
	font-size: 18px;
    }
}

h1, h2, p {
    margin-top: 0;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* css only custom elements */
site-container {
    display: flex;
    flex-direction: column;
    padding: var(--space);
    max-width: var(--site-width);
}

/* web-components custom elements */
stellar-account-transactions,
stellar-account-send {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    padding: calc(var(--space) / 4);
}

stellar-account-transactions header,
stellar-account-send header {
    padding-bottom: calc(var(--space) / 2);
    font-style: italic;
}

stellar-account-transactions code,
stellar-account-send code {
    word-break: break-all;
}

stellar-account-transactions article {
    margin-bottom: calc(var(--space) / 2);
}

stellar-account-send form {
    display: flex;
    flex-direction: column;
}

stellar-account-send input {
    margin-bottom: calc(var(--space) / 2);
}
