:root {
    --space: 2rem;
    --site-width: calc(var(--space) * 30);
    --site-header-width: calc(var(--space) * 20);
    --color-bg: whitesmoke;
    --color-cite: orange;
}

html {
    font-size: 16px;
    line-height: 1.6;
    font-family: serif;
}
@media (min-width: 60rem) {
    html {
	font-size: 18px;
    }
}

h1, h2, p {
    margin-top: 0;
}

body {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: var(--space);
}

summary {
    display: flex;
    justify-content: center;
    margin-bottom: calc(var(--space) / 2);
    cursor: pointer;
}
summary button {
    pointer-events: none;
}
details[open] summary {
    display: none;
}

button {
    cursor: pointer;
}

.Site {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space);
    max-width: var(--site-width);
}

.Site-header {
    max-width: var(--site-header-width);
    margin-bottom: 2rem;
}
.Site-header h1 {
    text-align: center;
}

.Site-main {
    width: 100%;
}

/* web-components custom elements */
stellar-account-transactions,
stellar-account-send {
    display: flex;
    flex-direction: column;
    /* background-color: var(--color-bg); */
    padding: calc(var(--space) / 4);
}

stellar-account-transactions header,
stellar-account-send header {
    padding-bottom: calc(var(--space) / 2);
    font-style: italic;
}

stellar-account-transactions header {
    text-align: right;
    cursor: help;
}

stellar-account-transactions code,
stellar-account-send code {
    max-width: calc(var(--space) * 4);
    word-break: break-word;
}

stellar-account-transactions cite,
stellar-account-send cite {
    display: inline-block;
    background-color: var(--color-cite);
    padding: calc(var(--space) / 5);
}

stellar-account-transactions code + cite,
stellar-account-send code + cite,
stellar-account-transactions cite + date,
stellar-account-send cite + date {
    padding-right: calc(var(--space) / 3);
}

stellar-account-transactions article {
    margin-bottom: calc(var(--space) / 2);
    display: flex;
    justify-content: center;
}

stellar-account-send form {
    display: flex;
    flex-direction: column;
}

stellar-account-send input,
stellar-account-send textarea {
    margin-bottom: calc(var(--space) / 2);
    padding: calc(var(--space) / 4);
    font-size: 1rem;
    font-weight: normal;
}
